<div class="web-card" [attr.data-property1]="property1">
  <div class="frame-parent5">
    <div class="icon-type-parent">
      <div class="icon-type" [ngStyle]="iconTypeStyle">
        <img class="home-icon" alt="" [ngStyle]="homeIconStyle" />
      </div>
      <div class="card-separators" [ngStyle]="cardSeparatorsStyle">
        {{cardSeparators}}
      </div>
    </div>
    <h2 class="separators-two" [ngStyle]="separatorsTwoStyle">{{num}}</h2>
    <div class="cases-this-week" [ngStyle]="casesThisWeekStyle">{{text}}</div>
  </div>
</div>
