.home-parent,
.web-cases-card4 {
  align-self: stretch;
  text-align: left;
  font-family: var(--font-inter);
}
.web-cases-card4 {
  box-shadow: var(--Shadows-Component-elevation-dialogs-modals);
  border-radius: var(--br-32);
  background-color: var(--color-gray-100);
  border: var(--border-1);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: var(--padding-22) var(--padding-23);
  gap: var(--gap-24);
  font-size: var(--fs-16);
  color: var(--color-darkslategray);
}
.home-parent {
  justify-content: space-between;
  gap: var(--gap-20);
  top: 0;
  z-index: 99;
  position: sticky;
  font-size: var(--fs-28);
  color: var(--color-gray-200);
}
.home,
.home-parent,
.inner-profile {
  display: flex;
  align-items: center;
}
.home {
  gap: var(--gap-16);
}
.inner-profile {
  border-radius: var(--br-999);
  background-color: var(--Functional-Error-error-50);
  overflow: hidden;
  padding: var(--padding-12);
}
.profile-icon {
  height: var(--height-24);
  width: var(--width-24);
  position: relative;
}
.patient-summary {
  margin: 0;
  position: relative;
  font-size: inherit;
  line-height: var(--lh-36);
  font-weight: 600;
  font-family: inherit;
}
.patient-state2 {
  cursor: pointer;
  border: 1.5px solid var(--color-cornflowerblue);
  padding: var(--padding-6) var(--padding-10);
  background-color: var(--color-aliceblue);
  border-radius: var(--br-999);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.time-parent {
  display: flex;
  align-items: center;
  gap: var(--gap-8);
}
.time-icon {
  width: var(--width-20);
  position: relative;
  max-height: 100%;
}
.min-ago {
  position: relative;
  font-size: var(--fs-16);
  line-height: var(--lh-22);
  font-weight: 600;
  font-family: var(--font-inter);
  color: var(--color-dodgerblue);
  text-align: left;
}
.profile {
  align-self: stretch;
  height: var(--height-0_5);
  position: relative;
  border-radius: var(--br-999);
  background-color: var(--color-silver);
  overflow: hidden;
  flex-shrink: 0;
}
.factors-symptoms-parent {
  align-self: stretch;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: var(--gap-20);
}
.factors-symptoms {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-8);
  min-width: var(--min-w-180);
}
.case-id,
.my-application {
  position: relative;
  line-height: var(--lh-24);
}
.my-application {
  font-size: var(--fs-18);
  line-height: var(--lh-26);
  font-weight: 600;
  color: var(--color-gray-200);
}
.edit-preference,
.safe {
  display: flex;
  align-items: center;
}
.edit-preference {
  align-self: stretch;
  gap: var(--gap-24);
}
.safe {
  flex: 1;
  justify-content: space-between;
  gap: var(--gap-20);
  min-width: 441px;
  font-size: var(--fs-18);
}
.patient-state3 {
  cursor: pointer;
  border: var(--border-2);
  padding: var(--padding-6) var(--padding-10);
  background-color: var(--Functional-Error-error-50);
  border-radius: var(--br-999);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.error-icon {
  width: var(--width-24);
  position: relative;
  max-height: 100%;
}
.ischemic-stroke2 {
  position: relative;
  font-size: var(--fs-16);
  line-height: var(--lh-22);
  font-weight: 600;
  font-family: var(--font-inter);
  color: var(--Functional-Error-error-500);
  text-align: left;
}
.nihss-26-severe {
  position: relative;
  line-height: var(--lh-26);
}
.risk-factors-parent {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-12);
}
.risk-factors {
  align-self: stretch;
  position: relative;
  line-height: var(--lh-24);
}
.diabetes,
.patient-state-parent {
  color: var(--Functional-Error-error-500);
}
.patient-state-parent {
  align-self: stretch;
  display: flex;
  align-items: center;
  gap: var(--gap-16);
}
.diabetes {
  position: relative;
  font-size: var(--fs-16);
  line-height: var(--lh-24);
  font-family: var(--font-inter);
  text-align: left;
}
.patient-state5 {
  border-radius: var(--br-999);
  background-color: var(--Functional-Error-error-50);
  border: var(--border-2);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: var(--padding-6) var(--padding-10);
}
.home-parent2,
.patient-state-group {
  display: flex;
  align-items: center;
  gap: var(--gap-7);
}
.patient-state-group {
  align-self: stretch;
  gap: var(--gap-16);
  color: var(--color-darkgoldenrod);
}
.patient-state10,
.patient-state8 {
  border-radius: var(--br-999);
  background-color: var(--color-oldlace);
  border: var(--border-3);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: var(--padding-6) var(--padding-10);
}
.patient-state10 {
  cursor: pointer;
}
.dizziness-or-vertigo,
.vital-signs-parent {
  text-align: left;
  font-size: var(--fs-16);
  font-family: var(--font-inter);
}
.dizziness-or-vertigo {
  position: relative;
  line-height: var(--lh-24);
  color: var(--color-darkgoldenrod);
}
.vital-signs-parent {
  flex-direction: column;
  align-items: flex-start;
  color: var(--color-darkslategray);
}
.group,
.pressure-info,
.pressure-info-parent,
.vital-signs-parent {
  align-self: stretch;
  display: flex;
  gap: var(--gap-16);
}
.pressure-info-parent {
  flex-direction: column;
  align-items: flex-start;
}
.group,
.pressure-info {
  align-items: center;
}
.group {
  border-radius: var(--br-999);
  background-color: var(--color-gray-100);
  border: 2px solid var(--color-lightcoral);
  padding: var(--padding-8) var(--padding-16) var(--padding-8) var(--padding-8);
  gap: var(--gap-12);
  color: var(--color-gray-200);
}
.label6 {
  cursor: pointer;
}
.test-info {
  height: var(--height-44);
  width: var(--width-44);
  border-radius: var(--br-999);
  background-color: var(--Functional-Error-error-50);
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: var(--padding-10) var(--padding-3);
  box-sizing: border-box;
}
.file-detailed-testpdf-parent {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: var(--gap-20);
}
@media screen and (max-width: 1050px) {
  .web-cases-card4 {
    padding-top: var(--padding-20);
    padding-bottom: var(--padding-20);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 1000px) {
  .patient-state-group {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 725px) {
  .edit-preference,
  .factors-symptoms-parent {
    flex-wrap: wrap;
  }
  .safe {
    min-width: 100%;
  }
  .patient-state-parent,
  .pressure-info,
  .safe {
    flex-wrap: wrap;
  }
}
