<section class="web-cases-card3" [attr.data-property1]="property1">
  <div class="frame-parent5">
    <div class="frame-parent6">
      <div class="home-wrapper">
        <img class="home-icon2" alt="" src="/assets/img/Home.png" />
      </div>
      <div class="s-c-indicator">
        <h2 class="sc-2024-0013">SC-2024-001</h2>
        <div class="patient-67yo-male3">Patient: 67yo Male</div>
      </div>
      <div class="severity-indicator">
        <div class="severe3">Severe</div>
      </div>
    </div>
    <div class="direction-time">
      <div class="direction-indicator">
        <img class="direction-icon" alt="" src="/assets/img/Frame 364.png" />
        <h3 class="min">8 min</h3>
      </div>
      <div class="eta">ETA</div>
    </div>
  </div>
  <div class="web-cases-card-child3"></div>
  <div class="a-i-prediction-display">
    <div class="a-i-prediction-value">
      <div class="ai-prediction3">AI Prediction</div>
      <div class="ischemic-large3">Ischemic - Large Vessel Occlusion</div>
    </div>
    <div class="nihss-display">
      <div class="nihss3">NIHSS</div>
      <div class="severe-stroke3">26 (Severe Stroke)</div>
    </div>
    <div class="onset-details">
      <div class="onset">Onset</div>
      <div class="min-ago3">30 min ago</div>
    </div>
    <div class="paramedic-details">
      <div class="paramedic3">Paramedic</div>
      <div class="davis-adam3">Davis Adam</div>
    </div>
  </div>
  <div class="web-cases-card-child4"></div>
  <div class="update-time-cta">
    <div class="time-update">
      <div class="time-icon"><i class="fa-regular fa-clock"></i></div>
      <div class="last-updated-23">Last updated 2 min ago</div>
    </div>
    
<app-web-card-cat [text]="'Open Case'"></app-web-card-cat>



  </div>
</section>