<div class="root">
  <main class="image">
    <app-web-cases-card2> </app-web-cases-card2>
    <div class="web-cases-card">
      <div class="analysis-info-parent">
        <div class="analysis-info"><app-home-icon> </app-home-icon></div>
        <h2 class="ecg-analysis">ECG Analysis</h2>
      </div>
      <div class="details-instance">
        <img class="home-icon" alt="" src="/assets/Home.svg" />
      </div>
      <section class="extinction-and-inattention-parent">
        <div class="extinction-and-inattention">
          <div class="inner-results-parent">
            <div class="inner-results">
              <div class="critical-instance">
                <app-critical-icon [critical]="'/assets/Critical.svg'">
                </app-critical-icon>
              </div>
              <h3 class="ecg-test-image">ECG Test Image Results</h3>
            </div>
            <div class="analysis-results">
              <h2 class="mi">Mi</h2>
            </div>
          </div>
        </div>
        <div class="parent">
          <div class="image-wrapper"><app-image-icon> </app-image-icon></div>
          <div class="image-ecg-test-imagepng-parent">
            <div class="image-ecg">Image / ECG Test Image.png</div>
            <app-download-icon [download]="'/assets/Download.svg'"> </app-download-icon>
          </div>
          <label class="label" htmlFor="file-2:4880">
            <div class="image-wrapper"><app-image-icon> </app-image-icon></div>
            <div class="image-ecg-test-imagepng-parent">
              <div class="image-ecg">Image / ECG Test Image.png</div>
              <app-download-icon [download]="'/assets/Download.svg'">
              </app-download-icon>
            </div>
          </label>
        </div>
      </section>
      <div class="web-cases-card-child"></div>
      <section class="action-card">
        <div class="extinction-and-inattention2">
          <div class="inner-results-parent">
            <div class="inner-results">
              <div class="critical-instance">
                <app-critical-icon [critical]="'/assets/Critical.svg'">
                </app-critical-icon>
              </div>
              <h3 class="ecg-test-image">ECG Test Signal Results</h3>
            </div>
            <div class="af-wrapper">
              <h2 class="mi">AF</h2>
            </div>
          </div>
        </div>
        <div class="labels-data">
          <div class="labels-info">
            <app-cases-licon
              [casesLIconBorder]="'unset'"
              [casesLIconPadding]="'unset'"
              [casesLIconBackgroundColor]="'unset'"
              [peopleIconHeight]="'unset'"
              [peopleIconMaxHeight]="'100%'"
            >
            </app-cases-licon>
          </div>
          <div class="image-ecg-test-imagepng-parent">
            <div class="image-ecg">File_1 / ECG Test Signal.hea</div>
            <app-download-icon [download]="'/assets/Download.svg'"> </app-download-icon>
          </div>
          <label class="label" htmlFor="file-2:4896">
            <div class="labels-info">
              <app-cases-licon
                [casesLIconBorder]="'unset'"
                [casesLIconPadding]="'unset'"
                [casesLIconBackgroundColor]="'unset'"
                [peopleIconHeight]="'unset'"
                [peopleIconMaxHeight]="'100%'"
              >
              </app-cases-licon>
            </div>
            <div class="image-ecg-test-imagepng-parent">
              <div class="image-ecg">File_1 / ECG Test Signal.hea</div>
              <app-download-icon [download]="'/assets/Download.svg'">
              </app-download-icon>
            </div>
          </label>
        </div>
        <div class="labels-data">
          <div class="labels-info">
            <app-cases-licon
              [casesLIconBorder]="'unset'"
              [casesLIconPadding]="'unset'"
              [casesLIconBackgroundColor]="'unset'"
              [peopleIconHeight]="'unset'"
              [peopleIconMaxHeight]="'100%'"
            >
            </app-cases-licon>
          </div>
          <div class="image-ecg-test-imagepng-parent">
            <div class="image-ecg">File_2 / ECG Test Signal.mat</div>
            <app-download-icon [download]="'/assets/Download.svg'"> </app-download-icon>
          </div>
          <label class="label" htmlFor="file-2:4902">
            <div class="labels-info">
              <app-cases-licon
                [casesLIconBorder]="'unset'"
                [casesLIconPadding]="'unset'"
                [casesLIconBackgroundColor]="'unset'"
                [peopleIconHeight]="'unset'"
                [peopleIconMaxHeight]="'100%'"
              >
              </app-cases-licon>
            </div>
            <div class="image-ecg-test-imagepng-parent">
              <div class="image-ecg">File_2 / ECG Test Signal.mat</div>
              <app-download-icon [download]="'/assets/Download.svg'">
              </app-download-icon>
            </div>
          </label>
        </div>
      </section>
    </div>
    <div class="web-cases-card2">
      <div class="ct-instance-parent">
        <div class="analysis-info"><app-ct-icon> </app-ct-icon></div>
        <h2 class="ecg-analysis">CT Analysis</h2>
      </div>
      <section class="ct-content">
        <div class="ct-name-pair">
          <img class="home-icon" alt="" src="/assets/Ct.svg" />
        </div>
        <div class="ct-name-pair">
          <img class="home-icon" alt="" src="/assets/Ct.svg" />
        </div>
      </section>
      <section class="images-container">
        <div class="extinction-and-inattention3">
          <div class="frame-parent">
            <div class="ct-test-outcome-parent">
              <div class="critical-instance">
                <app-critical-icon [critical]="'/assets/Critical.svg'">
                </app-critical-icon>
              </div>
              <h3 class="ecg-test-image">CT Test Results</h3>
            </div>
            <div class="af-wrapper">
              <h2 class="mi">Ischemic</h2>
            </div>
          </div>
        </div>
        <div class="image-names-container">
          <div class="image-wrapper"><app-image-icon> </app-image-icon></div>
          <div class="image-ecg-test-imagepng-parent">
            <div class="image-ecg">Image / ECG Test Image.png</div>
            <app-download-icon [download]="'/assets/Download.svg'"> </app-download-icon>
          </div>
          <label class="label" htmlFor="file-2:4927">
            <div class="image-wrapper"><app-image-icon> </app-image-icon></div>
            <div class="image-ecg-test-imagepng-parent">
              <div class="image-ecg">Image / ECG Test Image.png</div>
              <app-download-icon [download]="'/assets/Download.svg'">
              </app-download-icon>
            </div>
          </label>
        </div>
        <div class="image-names-container">
          <div class="image-wrapper"><app-image-icon> </app-image-icon></div>
          <div class="image-ecg-test-imagepng-parent">
            <div class="image-ecg">Image / ECG Test Image.png</div>
            <app-download-icon [download]="'/assets/Download.svg'"> </app-download-icon>
          </div>
          <label class="label" htmlFor="file-2:4933">
            <div class="image-wrapper"><app-image-icon> </app-image-icon></div>
            <div class="image-ecg-test-imagepng-parent">
              <div class="image-ecg">Image / ECG Test Image.png</div>
              <app-download-icon [download]="'/assets/Download.svg'">
              </app-download-icon>
            </div>
          </label>
        </div>
      </section>
    </div>
    <div class="web-cases-card">
      <div class="assessment-container">
        <div class="assessment-details-parent">
          <div class="analysis-info"><app-home-icon> </app-home-icon></div>
          <h2 class="ecg-analysis">NIHSS Assessment</h2>
        </div>
        <button class="patient-state">
          <div class="ecg-parent">
            <app-ecgicon> </app-ecgicon>
            <div class="score-18">Score: 18 / 42</div>
          </div>
        </button>
      </div>
      <div class="web-cases-card-child"></div>
      <section class="state-consciousness">
        <app-web-cases-card3
          [property1]="'NIHSS W Scores'"
          [text]="'• Level of Consciousness'"
        >
        </app-web-cases-card3>
        <div class="web-cases-card-child"></div>
        <app-web-cases-card3 [property1]="'NIHSS W Scores'" [text]="'• Gaze'">
        </app-web-cases-card3>
        <div class="web-cases-card-child"></div>
        <app-web-cases-card3
          [property1]="'NIHSS W Scores'"
          [text]="'• Visual Fields'"
        >
        </app-web-cases-card3>
        <div class="web-cases-card-child"></div>
        <app-web-cases-card3
          [property1]="'NIHSS W Scores'"
          [text]="'• Facial Palsy'"
        >
        </app-web-cases-card3>
        <div class="web-cases-card-child"></div>
        <app-web-cases-card3 [property1]="'NIHSS W Scores'" [text]="'• Motor Arm'">
        </app-web-cases-card3>
        <div class="web-cases-card-child"></div>
        <app-web-cases-card3
          [property1]="'NIHSS W Scores'"
          [text]="'• Limb Ataxia'"
        >
        </app-web-cases-card3>
        <div class="web-cases-card-child"></div>
        <app-web-cases-card3 [property1]="'NIHSS W Scores'" [text]="'• Sensory'">
        </app-web-cases-card3>
        <div class="web-cases-card-child"></div>
        <app-web-cases-card3 [property1]="'NIHSS W Scores'" [text]="'• Language'">
        </app-web-cases-card3>
        <div class="web-cases-card-child"></div>
        <app-web-cases-card3 [property1]="'NIHSS W Scores'" [text]="'• Dysarthria'">
        </app-web-cases-card3>
        <div class="web-cases-card-child"></div>
        <app-web-cases-card3
          [property1]="'NIHSS W Scores'"
          [text]="'• Extinction/Inattention'"
        >
        </app-web-cases-card3>
      </section>
      <div class="web-cases-card-child"></div>
      <div class="extinction-and-inattention3">
        <div class="frame-parent">
          <div class="ct-test-outcome-parent">
            <div class="critical-instance">
              <app-critical-icon [critical]="'/assets/Critical.svg'">
              </app-critical-icon>
            </div>
            <h3 class="ecg-test-image">NIHSS Results</h3>
          </div>
          <div class="af-wrapper">
            <h2 class="mi">Ischemic Stroke</h2>
          </div>
        </div>
      </div>
    </div>
  </main>
  <app-action-cards> </app-action-cards>
   <router-outlet></router-outlet>
</div>