<div class="hospital-details">
  <iframe
    class="map-iframe"
    loading="lazy"
    allowfullscreen
    referrerpolicy="no-referrer-when-downgrade"
    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3456.08!2d31.4079!3d29.9874!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14583d7009eedc41%3A0xbd2e5f3e7da84701!2sSeashell%20Hospital!5e0!3m2!1sen!2seg!4v1234567890"
  ></iframe>

  <div class="selected-hospital-wrapper">
    <div class="selected-hospital">
      <div class="arrival-info">
        <div class="arrival-time-data">
          <i class="fa-regular fa-clock arrival-icon"></i>
          <div class="estimated-arrival">Estimated Arrival</div>
        </div>
        <b class="min">8 min</b>
      </div>
    </div>
  </div>

  <div class="location-pin">
    <i class="fa-solid fa-location-dot pin-icon"></i>
  </div>
</div>