.action-cards,
.web-cases-card6 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-24);
}
.action-cards {
  flex: 1;
  overflow-x: auto;
  min-width: 288px;
  max-width: 411px;
}
.web-cases-card6 {
  align-self: stretch;
  box-shadow: var(--Shadows-Component-elevation-dialogs-modals);
  border-radius: var(--br-32);
  background-color: var(--color-gray-100);
  border: var(--border-1);
  overflow: hidden;
  padding: var(--padding-22) var(--padding-23);
  text-align: left;
  font-size: var(--fs-28);
  color: var(--color-gray-200);
  font-family: var(--font-inter);
}
.action-info-parent {
  align-self: stretch;
  display: flex;
  align-items: center;
  gap: var(--gap-16);
}
.action-info {
  border-radius: var(--br-999);
  background-color: var(--Primary-primary-50);
  overflow: hidden;
  display: flex;
  align-items: center;
  padding: var(--padding-12);
}
.case-actions {
  margin: 0;
  position: relative;
  font-size: inherit;
  line-height: var(--lh-36);
  font-weight: 600;
  font-family: inherit;
}
.location-icon {
  align-self: stretch;
  height: var(--height-350);
  border-radius: var(--br-24);
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  align-items: flex-start;
  padding: 167px 120px 109px;
  box-sizing: border-box;
  background-image: url(../../../src/assets/Location-Icon@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  cursor: pointer;
}
.openmojilocation-indicator-re-icon {
  width: 70px;
  position: relative;
  max-height: 100%;
}
.action-buttons,
.web-cases-card7 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-16);
}
.web-cases-card7 {
  align-self: stretch;
  box-shadow: var(--Shadows-Component-elevation-dialogs-modals);
  border-radius: var(--br-32);
  background-color: var(--color-gray-100);
  border: var(--border-1);
  overflow: hidden;
  padding: var(--padding-22) var(--padding-23);
  gap: var(--gap-24);
  text-align: left;
  font-size: var(--fs-28);
  color: var(--color-gray-200);
  font-family: var(--font-inter);
}
.additional-detail {
  align-self: stretch;
  height: var(--height-0_5);
  position: relative;
  border-radius: var(--br-999);
  background-color: var(--color-silver);
  overflow: hidden;
  flex-shrink: 0;
}
.frame-container,
.update-preparation-parent {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-16);
  font-size: var(--fs-18);
}
.frame-container {
  font-size: var(--fs-16);
}
.frame-parent2,
.image-wrapper2 {
  border-radius: var(--br-999);
  display: flex;
  align-items: center;
}
.frame-parent2 {
  align-self: stretch;
  background-color: var(--color-gray-100);
  border: var(--border-5);
  padding: var(--padding-5) var(--padding-14) var(--padding-5) var(--padding-6);
  gap: var(--gap-12);
}
.image-wrapper2 {
  height: var(--height-44);
  width: var(--width-44);
  background-color: var(--color-aliceblue);
  overflow: hidden;
  flex-shrink: 0;
  justify-content: center;
  padding: var(--padding-10) var(--padding-3);
  box-sizing: border-box;
}
.image-labels-pair {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: var(--gap-20);
  min-width: var(--min-w-178);
}
.image-image-1png {
  position: relative;
  line-height: var(--lh-24);
}
@media screen and (max-width: 725px) {
  .web-cases-card6 {
    padding-top: var(--padding-20);
    padding-bottom: var(--padding-20);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .action-cards {
    max-width: 100%;
  }
  .action-info-parent {
    flex-wrap: wrap;
  }
  .case-actions {
    font-size: var(--fs-22);
    line-height: var(--lh-29);
  }
  .location-icon {
    padding-left: var(--padding-20);
    padding-right: var(--padding-20);
    box-sizing: border-box;
  }
  .web-cases-card7 {
    padding-top: var(--padding-20);
    padding-bottom: var(--padding-20);
    box-sizing: border-box;
  }
  .frame-parent2 {
    flex-wrap: wrap;
  }
}
